<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844241444762-qkavonu0pmro8b5i5t9dujo47skqevq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844241444762-qkavonu0pmro8b5i5t9dujo47skqevq9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>844241444762-06ardgfrtd9a7kgb3t658skq1vn6a29g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDftiU66Cy0EkdGQDq8sqj67Il2ddEvP0</string>
	<key>GCM_SENDER_ID</key>
	<string>844241444762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edrp.mercato</string>
	<key>PROJECT_ID</key>
	<string>mercatoec</string>
	<key>STORAGE_BUCKET</key>
	<string>mercatoec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844241444762:ios:ed6e092d187b93034e2423</string>
</dict>
</plist>